streamlit==1.58.0
pandas==2.2.3
feedparser==6.0.11
requests==2.32.3
pytrends
schedule
google-generativeai
google-genai
beautifulsoup4>=4.12.0
Flask==2.3.3
Flask-CORS==4.0.0
selenium==4.15.2
webdriver-manager==4.0.1
beautifulsoup4==4.12.2
gunicorn==21.2.0
